*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
	 Introduced in IE 10.
	 See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#mk90_panel, #mk90_dbg {
   width : 790px;
   background-color : gainsboro;
}


#mk90_panel_int, #mk90_dbg_int {
   border: 1px solid black;
   width : 100%;
   height : 100%;
}

#mk90_panel_int > tr > td {
   border: 1px solid black;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}

#mk90_dbg_int > tr > td{
   border: 1px solid black;
/*   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;*/
}

#mk90_acpu {
   width : 790px;
}

#mk90_acpu_int {
   width : 400px;
   border : 1px solid black;
   background-color : gainsboro;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-left: auto;
   margin-right: auto;
}

#dbg_actions td {
  padding : 5px 10px 5px 10px;
  border : 1px solid black;
}
